*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}
fieldset{border: 0}
input{border: 0;}

html{
    height: auto;
    line-height: 1
}
body{
    background: #000210;
    font-family: 'Aeonik Pro','pretand', sans-serif;
    color: #fff;
    font-size: 12px;
}
