.fix-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 157px;
    background: linear-gradient(rgba(0,2,16,0),rgba(0,2,16,.75) 50%,#000210);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 119px;
    z-index: 101;
    transition: transform 0.8s;
    &.hide{
        transform: translateY(100%);
    }
    &::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }
    p{
        font-size: 18px;
        color: #62646e;
    }
    .year{
        font-size: 18px;
        color: #62646e;
    }
    .menu-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 630px;
        height: 60px;
        max-width: 630px;
        z-index: 2;
        .btn-open{
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
            background-color: rgba(217,217,217,.11);
            border: 1px solid #5f626e;
            border-radius: 18px;
            .text{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 48px;
                font-size: 18px;
                transition: opacity 0.5s, visibility 0.5s;
                &.text-c{
                    opacity: 0;
                    visibility: hidden;
                }
            }
            img{
                width: 27px;
                margin-left: 48px;
            }
        }
        .menu-wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            height: 0;
            overflow: hidden;
            transition: max-height 0.3s;
            border-radius: 18px;
            max-height: 0px;
            .menu-in{
                height: 100%;
                -webkit-backdrop-filter: blur(40px);
                backdrop-filter: blur(40px);
                background-color: rgba(217,217,217,.11);
                border: 1px solid #5f626e;
                border-radius: 18px;
                padding: 45px 23px 93px;
                .btn-close{
                    width: 143px;
                    height: 5px;
                    background-color: #9e9e9e;
                    border-radius: 20px;
                    position: absolute;
                    top: 18px;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s, visibility 0.3s;
                    transition-delay: 0.5s;
                }
                .nav-box{
                    // border: 1px solid #5f626e;
                    border-radius: 19px;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s, visibility 0.3s;
                    transition-delay: 0.5s;
                    h3{
                        height: 43px;
                        border: 1px solid #5f626e;
                        border-radius: 17px;
                        align-items: center;
                        padding: 0 15px;
                        display: flex;
                        color: #d9d9db;
                        font-size: 18px;
                        margin-top: -1px;
                        margin-left: -1px;
                    }
                    .nav{
                        .nav-list{
                            // height: 215px;
                            // overflow: auto;
                            display: flex;
                            gap: 15px;
                            flex-direction: column;
                            align-items: center;
                            padding: 15px 0;
                            li{
                                a{
                                    color: #ebebeb;
                                    font-size: 36px;
                                }
                            }
                        }
                    }
                    &.nav-bottom{
                        margin-top: 23px;
                        .nav{
                            .nav-list{
                                height: 290px;
                                gap: 23px;
                                li{
                                    height: 27px;
                                    a{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
                .nav-btn{
                    margin-top: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 23px;
                    background: #ebebeb;
                    border-radius: 50px;
                    position: relative;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s, visibility 0.3s;
                    transition-delay: 0.5s;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 0;
                        background: #040506;
                        transition: height 0.3s;
                    }
                    .text{
                        position: relative;
                        z-index: 1;
                        color: #040506;
                        font-size: 18px;
                        text-transform: uppercase;
                        transition: color 0.3s;
                    }
                    &:hover{
                        &::before{
                            height: 100%;
                        }
                        .text{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &.open{
        &::before{
            opacity: 1;
            visibility: visible;
        }
        .menu-box{
            .btn-open{
                .text{
                    &.text-m{
                        opacity: 0;
                        visibility: hidden;
                    }
                    &.text-c{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .menu-wrap{
                // height: 829px;
                height: auto;
                max-height: 900px;
                .menu-in{
                    .btn-close{
                        opacity: 1;
                        visibility: visible;
                    }
                    .nav-box{
                        opacity: 1;
                        visibility: visible;
                    }
                    .nav-btn{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}